.header {
  background-color: #202020;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.title {
  color: #d3d3d3;
  font-size: 1.8rem;
}

.info-icon {
  font-size: 1.2rem;
  color: #d3d3d3;
  cursor: pointer;
}

.logo {
  width: 35px;
  height: 35px;
  margin-right: 0.3rem;
  vertical-align: middle;
  margin-bottom: 0.25rem;
}

.info-icon {
  width: 17px;
  height: 17px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.info-icon:hover {
  transform: scale(1.1);
}

.back-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}