.home-container {
    background-color: #191919;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .main {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  